table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
  }
  
  table, th, td {
    border: 1px solid rgb(0, 0, 0);
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  

.listFormTable{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table{
  min-width: 700px;
}

.listTodoTable{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todoFilter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}